/*Fondo  de la página */
body {
    background-color: #1094d1; /* Un azul clarito de ejemplo */
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

h3 {
    background-color: rgb(236, 149, 153); /* Este color no se verá si el texto es oscuro. Considera cambiar el color del texto a blanco si lo mantienes. */
    color: white; /* Añadido para que el texto sea visible */
    padding: 5px; /* Pequeño padding para h3 dentro de las tarjetas */
    border-radius: 5px 5px 0 0; /* Bordes redondeados en la parte superior */
}

/* Estilos responsivos para móviles */
@media (max-width: 576px) {
    body {
        background-color: #f975ee;
    }
}

.image-container {
    width: 150px; /* Ancho fijo del contenedor */
    height: 100px; /* Alto fijo del contenedor */
    overflow: hidden; /* Asegura que la imagen no se salga del contenedor */
    margin: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Ajusta el minmax para incluir el contenedor */
    gap: 15px;
    margin-top: 20px;
}

.gallery-image {
    width: 100%; /* La imagen ocupa el ancho de su contenedor */
    height: 100%; /* La imagen ocupa la altura de su contenedor */
    object-fit: cover;
    border: 3px solid transparent;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.gallery-image:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5); /* Sombra azul al pasar el ratón */
}

.gallery-image.selected {
    border: 3px solid #007bff; /* Borde azul vibrante cuando está seleccionada */
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.8); /* Sombra más pronunciada cuando está seleccionada */
}