
/*Fondo  de la p치gina */
body {
  background-color: #f0a0f8;

  h1 {
    color: red; /* Esto es inv치lido en CSS puro */
  }
}

/* Bot칩n primario */
.btn-primary {
  background-color: #33aaff;
  border-color: #63ff33;
  transition: all 0.3s ease;
}


/* Tarjetas con bordes redondeados y sombra */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

h3 {
  background-color: chartreuse;
}

/* Estilos responsivos para m칩viles */
@media (max-width: 576px) {
  body {
    background-color: #f975ee;
  }

  
}